/*Background Gentelella*/
.bg-lcv {
    background: linear-gradient(#881182, #b97ec1af), #d60a0a !important;
}

/*Side Bar Gentelella, color de fondo*/
.nav.side-menu > li.active > a {
  background: -webkit-gradient(linear, left top, left bottom, from(#7955ef), to(#4c695c)), #bc1365;
  /*background: linear-gradient(#830000, #350a0aaf), #000000;*/
  background: linear-gradient(#881182, #b97ec1af), #d60a0a;
}

/*Side Bar Gentelella, puntos del unordered list*/
.nav-md ul.nav.child_menu li:before{
  background:#881182;
}

/*Side Bar Gentelella, borde de la derecha*/
.nav.side-menu>li.current-page, .nav.side-menu>li.active {
    border-right: 5px solid #881182;
}

/*Side Bar Gentelella, línea blanca al desplegar unordered list*/
.nav-md ul.nav.child_menu li:after {
    border-left: 2px solid #881182;
}

.bg-png {
  background-image: url(../uploads/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

}
.bg-png2 {
      width: 100%;
        height: 100vh;
        color: #fff;
        background: linear-gradient(100deg, brown, gray, black, purple);
        background-size: 400% 400%;
        position: relative;
        animation: cambiar 10s ease-in-out infinite;
}